{% set prefijo = '..' %}
{% extends './build/common/plantilla.njk' %}
{% block estilos %}
<title>Práctica Iconos - Andrés Fresno</title>
<link rel="stylesheet" href="./estilo_figma.css">
{% endblock %}

{% block content %}

<div class="centrar">

  <article>
<!--     <p>He estado practicando con figma para el proyecto que me ha pedido mi cliente</p>
 -->
    <img src="../img/figma_pantallazo.jpg" alt="">
  </article>
</div>

{% endblock %}