{% set prefijo = '..' %}
{% extends './build/common/plantilla.njk' %}
{% block estilos %}
  <title>Práctica Iconos - Andrés Fresno</title>
  <link
    rel="stylesheet" href="./estilo_figma.css">
{% endblock %}

{% block  content %}


im

{% endblock %}
 
       
     