@use '../css/variables'as v;



.contenedor__portada{

    display: flex;

    & > div{
        border: v.$margen;
    }

    .img_box{

       flex: 0 1 30%;
        
        .img{
            max-width: min(100%, 200px);
            
        }
    }

    .contenedor__texto{
        flex: 0 1 40%;
        border: 2px solid rgb(0, 4, 255);
    }

}