
{% set prefijo = '..' %}
{% extends './build/common/plantilla.njk' %}


{% block estilos %}
    <link rel="stylesheet" href="./estilo_propio.css">
    <title>Práctica Portada - Andrés Fresno</title>

{% endblock %}


{% block  content %}

    <article class="contenedor">

        <h1>Fuentes</h1>
        
    </article>

{% endblock %}
