/* 
esto no funciona
@media only screen and (min-width: 300px){

    $margen: calc(5rem + .5vw);
    $margen2: calc(5rem + .5vw);
    footer{
        background-color: red;
    }

} */
.tarea__portada {
  padding: var(--margen);
}

.contenedor__portada {
  display: flex;
  gap: var(--margen);
  flex-flow: dense;
}
.contenedor__portada .img_box {
  flex: 0 1 30%;
  border: 2px solid red;
}
.contenedor__portada .img_box img {
  max-width: min(100%, 700px);
}
.contenedor__portada .contenedor__texto {
  max-width: 60ch;
  border: 2px solid #0004ff;
}