.contenedor__iconos {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
}
.contenedor__iconos .ld {
  box-sizing: content-box;
  padding: var(--margen);
}
.contenedor__iconos p {
  margin: 1em 0;
}
.contenedor__iconos pre, .contenedor__iconos .bloque {
  margin: 1em 0;
}