.contenedor {
  padding: var(--margen);
}

.contenedor__portada {
  display: flex;
  gap: var(--margen);
  flex-flow: dense;
}
.contenedor__portada img {
  flex: 0 1 30%;
  border: 2px solid red;
  max-width: min(100%, 400px);
}
.contenedor__portada .contenedor__texto {
  flex: 1;
  max-width: 60ch;
  border: 2px solid #0004ff;
}