.contenedor__iconos p,
.contenedor__iconos li {
  max-width: 70ch;
  font-size: clamp(0.9em, 1.4vw, 1.2em);
  line-height: 1.5;
  color: #313131;
}
.contenedor__iconos h1 {
  font-size: clamp(3rem, 4vw, 4rem);
  margin-bottom: 0.4em;
}
.contenedor__iconos h2 {
  font-size: clamp(2em, 2vw, 3em);
  margin-bottom: 0.4em;
  margin-top: 1em;
}
.contenedor__iconos h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.contenedor__iconos {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  background-color: white;
  --gap: max(1.5em, 2vw);
}
.contenedor__iconos .ld {
  flex: 0 0 max(50%, 400px);
  margin: calc(1rem + 0.5vw);
  --background-color: rgb(255, 231, 231);
}
.contenedor__iconos .lz {
  flex: 0 0 max(25%, 200px);
  margin: calc(2rem + 0.5vw);
}
.contenedor__iconos .lz .caja {
  --background-color: rgb(234, 250, 87);
  min-width: 25ch;
}