{% set prefijo = '..' %}
{% extends './build/common/plantilla.njk' %}


{% block estilos %}
<link rel="stylesheet" href="./estilo_doc.css">
<title>Documentacion</title>

{% endblock %}


{% block content %}

<div class="contenedor_documentacion tarea">

    <h1>Documentación</h1>
    <p>Material provisto en clase</p>


    <ul id="menu">
        <li><input type="checkbox" name="list" id="nivel1-1"><label for="nivel1-1">Tema 1</label>
            <ul class="interior">
                <li><input type="checkbox" name="list" id="nivel2-1"><label for="nivel2-1">Nivel 2</label>
                    <ul class="interior">
                        <li><a href="#r">Nivel 3</a></li>
                        <li><a href="#r">Nivel 3</a></li>
                    </ul>
                </li>
                <li><input type="checkbox" name="list" id="nivel2-2"><label for="nivel2-2">Nivel 2</label>
                    <ul class="interior">
                        <li><a href="#r">Nivel 3</a></li>
                        <li><a href="#r">Nivel 3</a></li>
                        <li><a href="#r">Nivel 3</a></li>
                        <li><a href="#r">Nivel 3</a></li>
                    </ul>
                </li>
                <li><a href="#r">Nivel 2</a></li>
            </ul>
        </li>
        <!-- 
        <li><input type="checkbox" name="list" id="nivel1-2" checked=""><label for="nivel1-2">Tema 2</label>
            <ul class="interior">
                <li><a href="#r">Nivel 2</a></li>
                <li><input type="checkbox" name="list" id="nivel2-3"><label for="nivel2-3">Nivel 2</label>
                    <ul class="interior">
                        <li><a href="#r">Nivel 3</a></li>
                        <li><a href="#r">Nivel 3</a></li>
                    </ul>
                </li>
                <li><input type="checkbox" name="list" id="nivel2-4"><label for="nivel2-4">Nivel 2</label>
                    <ul class="interior">
                        <li><a href="#r">Nivel 3</a></li>
                        <li><a href="#r">Nivel 3</a></li>
                        <li><a href="#r">Nivel 3</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#r">Tema 3</a></li>
    </ul> -->
</div>


{% endblock %}