.contenedor__portada {
  display: flex;
}
.contenedor__portada > div {
  border: calc(1rem + 0.5vw);
}
.contenedor__portada .img_box {
  flex: 1 1 30%;
}
.contenedor__portada .img_box .img {
  max-width: 100%;
  max-height: 100%;
}
.contenedor__portada .contenedor__texto {
  flex: 1 1 40%;
  border: 2px solid red;
}