body {
  background-color: whitesmoke;
}
body .page {
  margin: auto;
  background-color: white;
  max-width: 700px;
}
body .page header footer {
  width: 100%;
}
body .page footer {
  background-color: #222222;
  color: white;
  height: 200px;
}
body .page header {
  background-color: #36009b;
  color: white;
  height: 10vh;
}
body .page header h1 {
  font-size: 20px;
  border: 2px solid red;
  text-align: center;
}

h1, h2 {
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: center;
}
.gallery .tarea {
  max-width: 200px;
  margin: 20px;
}
.gallery .tarea .img_box {
  border: 2px solid gold;
  max-width: 100%;
  max-height: 100%;
}
.gallery .tarea .img_box .img {
  max-width: 100%;
  max-height: 100%;
}

.flex {
  display: flex;
}
.flex > .img_box {
  border: 2px solid red;
  flex-shrink: 1;
}
.flex > .img_box > .img {
  max-width: 100%;
  max-height: 100%;
}
.flex .text {
  border: 2px solid red;
}