@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Righteous&family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap");
/* 
esto no funciona
@media only screen and (min-width: 300px){

    $margen: calc(5rem + .5vw);
    $margen2: calc(5rem + .5vw);
    footer{
        background-color: red;
    }

} */
.contenedor__index {
  padding: var(--margen);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(14rem, 40%), 1fr));
  gap: var(--margen);
}
.gallery .card {
  background-color: var(--b);
  display: block;
  padding: 0.6rem;
  border-radius: 0.6rem;
  color: var(--n);
  font-size: calc(8px + 2vw);
  text-decoration: none;
}
.gallery .card .img_box {
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}
.gallery .card .img_box .img {
  width: 100%;
  display: none;
}

:root {
  font-size: 16px;
  --rojo: red;
  --margen: calc(0.7em + 1vw);
  --b: rgb(24, 24, 24);
  --n: white;
}

@media screen and (min-width: 450px) {
  :root {
    --rojo: blue;
    --margen: calc(1em + 2vw);
  }
}
.visible {
  display: inherit;
  border: 2px solid red;
}

.oculto {
  display: none !important;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #e2e2e2;
}
body main {
  flex: 1 0 auto;
}
body header {
  flex-shrink: 0;
}
body footer {
  flex-shrink: 0;
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 15px rgba(24, 24, 24, 0.438);
  color: black;
}
header a {
  text-decoration: none;
  color: black;
}
header .container__header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  max-width: 70rem;
  width: 100%;
  border: 1px dotted grey;
  padding: 0.3rem var(--margen);
  gap: var(--margen);
}
header .desplegable {
  width: 80%;
  min-height: 2rem;
  background-color: white;
  position: absolute;
  top: 3rem;
  right: 0;
  left: 0;
  margin: auto;
  display: inherit;
  border: 1px solid black;
}
header .logo__letras {
  display: flex;
  flex-direction: column;
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}
header .logo__letras span {
  border: 1px dotted #464646;
  box-sizing: border-box;
  padding: 0;
  flex: 1 1 100%;
}
header nav {
  background-color: rgba(189, 189, 189, 0.082);
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: var(--margen);
}
header nav a {
  display: none;
  padding: 1em;
  background-color: yellow;
}
header .menu {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px dotted grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .menu .barra {
  width: 90%;
  height: 5px;
  background-color: black;
  border-radius: 2px;
  margin: 3px;
}
@media only screen and (min-width: 600px) {
  header .container__header .menu {
    display: none;
  }
  header .container__header a {
    display: block;
  }
  header .container__header .desplegable {
    display: none;
    border-radius: 50%;
  }
}

main {
  box-sizing: border-box;
  max-width: 70rem;
  color: var(--b);
  background-color: var(--n);
  width: 100%;
  margin: auto;
}

footer {
  width: 100%;
  background-color: #222222;
  color: white;
  --height: 200px;
}
footer .contenedor__footer {
  width: 100%;
  max-width: 70rem;
  margin: auto;
  height: 100%;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 0.3em;
  border: 1px dotted white;
}
footer .contenedor__footer p {
  text-align: center;
  width: 100%;
  color: white;
  font-size: 1em;
}

body {
  color: white;
}

p {
  font-family: "Roboto";
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display";
  font-weight: 400;
}

main p,
main li {
  --max-width: 70ch;
  font-size: clamp(1rem, 1.4vw, 1.2rem);
  line-height: 1.5;
}
main h1 {
  font-size: clamp(2.3rem, 4vw, 4rem);
  margin: 0.5em 0;
}
main h2 {
  font-size: clamp(1.5em, 2vw, 3em);
  margin-bottom: 0.4em;
  margin-top: 1em;
}
main h3 {
  font-size: clamp(1.3em, 2vw, 3em);
  margin-top: 1em;
  margin-bottom: 0.5em;
}