
@import 'comun';

body{
  background-color: #6c9eca;
}

main {

  gap: .5rem;
  column-count: 1;
  column-gap: var(--espacio);
  margin: var(--espacio);
}

img {

  display: block;
  width: 100%;
  margin-bottom: var(--espacio);
}



@media (min-width: 450px) {
  body {
    background-color: rgb(228, 228, 228);
  }

  main {
    column-count: 2;
  }

}

@media (min-width: 800px) {
  body {
    background-color: rgb(209, 209, 209);
  }

  main {
    column-count: 4;
  }
}