
{% set prefijo = '..' %}
{% extends './build/common/plantilla.njk' %}


{% block estilos %}
    <link rel="stylesheet" href="estilo_portada.css">
{% endblock %}


{% block  content %}

    <article>

        <h1>Ejercicio 1</h1>
        <p>Diseño conceptual de la portada 22/09/2021</p>
        
        <div class="contenedor__portada">

            <div class="img_box">
                <img src="1.jpg" alt="">
            </div>
            
            <div class="contenedor__texto">
                <p>explicacion del diseño</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ullam qui quisquam pariatur eos et impedit minus aliquid, delectus, repellat aut exercitationem illum ratione id distinctio vitae, debitis error quia!</p>
            </div>


        </div>
    </article>

{% endblock %}
