
{% set prefijo = '..' %}
{% extends './build/common/plantilla.njk' %}


{% block  content %}

    <article>

        <h1>Ejercicio 1</h1>
        <p>Diseño conceptual de la portada 22/09/2021</p>
        
        <div class="flex">

            <div class="img_box">
                <img src="1.jpg" alt="">
            </div>
            
            <div class="text">
                <p>explicacion del diseño</p>
            </div>


        </div>
    </article>

{% endblock %}
