
.contenedor__iconos {

    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;

    
    .ld {
        box-sizing: content-box;
        padding: var(--margen);
    }

    p{margin: 1em 0;
    }

    .icono{
       
        width: 2em;
        height: 2em;
        --color: brown !important;
        display: block;
        background-image: url("../img/1.jpg");
    }

    






    /*

    .ld {
        box-sizing: content-box;
        flex: 1 1 max(50%, min(400px, 100%));
        padding: var(--margen);
    }

    .lz {
        flex: 1 1 max(25%, min(100px, 100%)) ;
       
        .caja {
            box-sizing: content-box;
            padding:  var(--margen);
            background-color: var(--rojo);
        }
    }


*/

    pre, .bloque{
        margin: 1em 0 ;
    }
}
