
.contenedor{

    box-sizing: border-box;
    //display: flex;
    //flex-wrap: wrap;
    max-width: 100%;
    padding: var(--margen);

    p{
        margin: 1em 0;
       
    }

    a{
        word-wrap: break-word;
    }

    .icono{
       
        width: 2em;
        height: 2em;
        --color: brown !important;
        display: block;
        background-image: url("../img/1.jpg");
    }

    
    .icono_modificado{
        color: red;
        font-size: 3em;
        text-shadow: 2px 2px 5px black;
    }


    pre, .bloque{
        
        max-width: 100%;
        margin: 1em 0;
    }

}
