@use '../css/variables' as v;

.contenedor{
    display: flex;
    margin: auto;

    .ld{
        --margin-right: 1em;
        max-width: 75%;
        background-color: v.$color_secundario;

        * {
            margin-bottom: 10px;
        }




    }

    .lz{

        .caja{
            background-color: gold;
            padding: 1em;
        }
      
    }
}


.max{
    max-width: 100%;
}



