



.contenedor__iconos {

    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    
    max-width: 100%;

    background-color: white;
    --gap: max(1.5em, 2vw);

    .ld {
        box-sizing: content-box;

        flex: 1 1 max(50%, min(400px, 100%));
        padding: var(--margen);
        background-color: rgb(255, 231, 231);

    }

    .lz {

        flex: 1 1 max(25%, min(100px, 100%)) ;
       
       
        
        .caja {
            box-sizing: content-box;
            padding:  var(--margen);
            
            background-color: var(--rojo);
            --min-width: 25ch;
           
            
        }

    }
}
