.contenedor__index {
    padding: var(--margen);
    
}

.formulario{
    margin: 1em 0;
}

.gallery {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(150px , 100%), 1fr));
    gap: var(--margen);

    .card {


        background-color: var(--grisito);
        //background-color: var(--azulito);
        display: block;
        padding: 0.6rem;
        border-radius: 0.6rem;
        font-size: 0.8rem;
        text-decoration: none;

        .img_box {
        
            width: 100%;
            padding-bottom: 100%;
            overflow:hidden;
        }

        .card_titulo{

            color: var(--n);
            text-align: center;
            margin: 0.7em;
        }


    }
}


.container_tagline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin: 2rem 0 3rem;

    
    h1, h2{
        text-align: center;
        font-size: 1.5rem;
        margin: 0;
    }
    h2{
        font-size: 1.2rem;
    }
    p{
        margin-top: 1rem;
    }
}