.contenedor__index {
    padding: var(--margen);
}

.gallery {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(14rem , 40%), 1fr));
    gap: var(--margen);

    .card {

        --max-width: 15rem;
        background-color: var(--b);
        display: block;
        padding: 0.6rem;
        border-radius: 0.6rem;
        color: var(--n);
        font-size: 0.8rem;
        text-decoration: none;

        .img_box {
        
            width: 100%;
            padding-bottom: 100%;
            overflow:hidden;
        }
    }
}