/////////////////////////////////////////////////////////
//  header
/////////////////////////////////////////////////////////


header {

    * {
        //border: 1px solid red
    }

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 0.3rem;
    width: 100%;
    background-color: var(--grisito);
    box-shadow: 0 0 15px rgba(24, 24, 24, 0.438);
    color: black;
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }


    .container__header {

        box-sizing: border-box;
        display: flex;
        align-items: center;
        max-width: v.$max;
        width: 100%;

        padding: 0.3rem var(--margen);
        gap: var(--margen);
    }


    .desplegable {
        width: min-content;
        padding: 1rem 2rem 10rem 2rem;
        background-color: var(--grisito);
        position: absolute;
        top: 5em;
        right: 0;
        display: none;

        .btn {
            padding: .7rem;
            background-color: yellow;
            border-radius: 5px;
            margin: auto;
            display: block;
            width: min-content;
        }

        .btn:hover {
            background-color: blue;
            color: white
        }

    }

    .desplegable_activo.desplegable {
        display: block;
    }

    .logo__letras {
        display: flex;
        flex-direction: column;
        font-family: 'Signika', sans-serif;
        font-weight: bold;
        font-size: 1rem;
        color: var(--n);

        span {

            box-sizing: border-box;
            padding: 0;
            flex: 1 1 100%;
        }
    }

    nav {

        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: var(--margen);
        margin: 0.7rem 0;
        flex-wrap: wrap;

        .btn1 {
            display: none;
            padding: .7rem;
            background-color: yellow;
            border-radius: 5px;
        }

        .btn1:hover {
            background-color: blue;
            color: white
        }
    }

    .menu {
        position: relative;

        width: 50px;
        height: 50px;
        border: 1px dotted rgb(136, 136, 136);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        background-color: inherit;


        .barra {
            width: 36px;
            height: 4px;
            border-radius: 2px;
            background-color: white;

            display: block;
            transition: all .5s ease-in-out;

            &:after,
            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 36px;
                height: 4px;
                border-radius: 2px;
                background-color: white;
                margin: auto;
                transform: translateY(-12px);
                transition: all .5s ease-in-out;
            }

            &::before {
                transform: translateY(12px);
            }
        }
    }

    .activado {

        .barra {

            transform: translateX(-20px);
            background-color: transparent;

            &:after {
                transform: rotate(45deg) translate(14px, -14px);
            }

            &:before {
                transform: rotate(-45deg) translate(14px, 14px);
            }
        }
    }

    .logo__af {

        width: 50px;
        height: 50px;
        border: 2px solid white;
        padding: 6px;
        margin: 1rem;
        display: flex;
        justify-content: center;
        border-radius: 5%;
        align-items: center;
        font-family: 'Signika', sans-serif;
        font-weight: bold;
        font-size: 1.7rem;
        color: var(--n);
    }
}

.buscador {
    display: none;
    --display: flex;
    align-items: center;
    gap: .5rem;

    label {
        width: fit-content;
        height: fit-content;
    }

    i {
        color: var(--n);
    }
}




@media only screen and (min-width: 700px) {

    .buscador{
        display: flex;
    }
}

@media only screen and (min-width: 900px) {


    .container__header {
        & .menu {
            display: none;
        }

        & .btn1 {
            display: block;
        }

        .desplegable_activo.desplegable{
            display: none;
        }
    }
}