@use 'variables' as v;



header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 2em;
    width: 100%;
    --max-width: 800px;
    min-height: 10vh;

    background-color: rgb(0, 51, 161);
    color: white;
    
    
    border-width: v.$size_border 0 0 0;
    border-style: solid;
/*  border-bottom-style: solid; 
    border-bottom-width: v.$size_border;  */
    border-image: linear-gradient(v.$color_gradient) 15; 

   
    

    h1{
        font-size: calc(11px + 2vh);
        //margin: 1.2em;
        color: white;
        font-family: 'Signika', sans-serif;;
    }
}