@use 'variables' as v;

main{
    display: flex;
    justify-content: center;
    background-color: rgb(226, 226, 226);

    .content{

        flex-basis: 100%;
        max-width: 800px;
        background-color: rgb(255, 255, 255);
        padding: 2em;

        
        
    }
}