
$color_principal: #3606e4;
$color_secundario: #f0ff19;
$color_gradient: 90deg, rgba(15,1,252,1) 0%, rgba(0,255,241,1) 100%;

$max: 70rem;


$size_border: 7px;

$margen: calc(1rem + .5vw);
$margen2: calc(2rem + .5vw);