@use 'variables'as v;
@import 'estilo_index' , 'header' , 'footer';

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Righteous&family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap');

:root {
    font-size: 16px;
    --rojo: red;
    --margen: calc(0.7em + 1vw);
    --b: rgb(24, 24, 24);
    --n: white;
    --azulito: rgb(50, 89, 163); 
    --grisito:  rgb(34, 34, 34);
}




@media screen and (min-width: 450px) {
    :root {
        --rojo: blue;
        --margen: calc(1em + 2vw);
    }

}

.visible {
    display: block !important;    
}

.oculto {
    display: none !important;
}


* {
    margin: 0;
    box-sizing: border-box;
} 


html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 226, 226);

    main {
        flex: 1 0 auto;
    }

    header {
        flex-shrink: 0;
    }

    footer {
        flex-shrink: 0;
    }
}

/////////////////////////////////////////////////////////
//  Main
/////////////////////////////////////////////////////////

main {
   
    max-width: v.$max;
    color: var(--b);
    background-color: var(--n);
    width: 100%; 
    margin: auto;

}



/////////////////////////////////////////////////////////
//  Parrafos
/////////////////////////////////////////////////////////

body{
    color: white;
}

p, a {
    font-family: "Roboto";
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: "DM Serif Display";
    font-weight: 400;
    margin-bottom: 0.3em;
}

h2,h3{
    margin-top: 2rem;

}
 



main {

    p {
        max-width: 70ch;
        font-size: clamp(1rem, 1.2vw, 1.2rem);
        line-height: 1.5;
        color: rgb(49, 49, 49);
    }

    h1 {
        font-size: clamp(2.3rem, 3.5vw, 4rem);
    }

    h2 {
        font-size: clamp(1.5em, 2vw, 3em);
    }

    h3 {
        font-size: clamp(1.3em, 2vw, 3em);
    }
}



//
//Tareas
//

.tarea{
    padding: 1rem;
}



//Documentacion

.pdf{
    width: 25px;
}