body{
    background-color: whitesmoke;
    .page{
        margin: auto;
        background-color: rgb(255, 255, 255);
        max-width: 700px;
    
        header footer {
            width: 100%;        
        }
    
        footer{
            background-color: rgb(34, 34, 34);
            color: white;
            height: 200px;
        }

        header{
            background-color: rgb(54, 0, 155);
            color: white;
            height: 10vh;

            h1{
                font-size: 20px;
                border: 2px solid red;
                text-align: center;
            }

        }
    }

}



h1, h2 {
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: center;

     .tarea{
        max-width: 200px;
        margin: 20px;

         .img_box{
            border: 2px solid gold;
            max-width: 100%;
            max-height: 100%;
               
            .img{
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}





/////////////////////

.flex{

    display: flex;

    & > .img_box{

        border: 2px solid red;
        flex-shrink: 1;
           
        & > .img{
            max-width: 100%;
            max-height: 100%;
        }
    }

    .text{
        border: 2px solid red;
    }

   
}
