@use 'variables'as v;
@import 'estilo_index';

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Righteous&family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap');

:root {
    font-size: 16px;
    --rojo: red;
    --margen: calc(0.7em + 1vw);
}

@media screen and (min-width: 450px) {
    :root {

        --rojo: blue;
        --margen: calc(1em + 2vw);
    }

}

/* footer{
    background-color: var(--rojo) !important;
} */


.visible{
    display: inherit;
    background-color: red;
}

.oculto{
    display: none;
    background-color: blue;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 226, 226);

    main {
        flex: 1 0 auto;
    }

    header {
        flex-shrink: 0;
    }

    footer {
        flex-shrink: 0;

    }

}

//header/////////////////////////////////////


header {

    box-sizing: border-box;
    display: flex;
    justify-content: center;

    width: 100%;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(24, 24, 24, 0.438);
    color: black;

    border-width: v.$size_border 0 0 0;
    border-style: solid;
    border-image: linear-gradient(v.$color_gradient) 15;

    a {
        text-decoration: none;
        color: black;
    }

    .container__header {

        box-sizing: border-box;
        display: flex;
        align-items: center;
        max-width: v.$max;
        width: 100%;
        border: 1px dotted black;
        padding: 0 var(--margen);
        gap: var(--margen);

        .logo__letras {

            display: flex;
            flex-direction: column;
            font-family: 'Signika', sans-serif;
            font-weight: bold;
            font-size: 20px;

            span {

                border: 1px dotted rgb(70, 70, 70);
                box-sizing: border-box;
                padding: 0;
                flex: 1 1 100%;
            }
        }

        nav {
            background-color: rgba(189, 189, 189, 0.082);
            flex: 1;

            display: flex;
            justify-content: flex-end;
            gap: var(--margen);

            .menu {

                display: inherit;
            }

            a {
                display: none;
                padding: 1em;
                background-color: yellow;
            }


            @media screen and (min-width: 500px) {
                .menu {
                    display: none;
                }

                a {
                    display: inherit;
                }

            }

        }
    }

}





//main/////////////////////////////////////


main {

    box-sizing: border-box;
    background-color: rgb(255, 233, 233);
    max-width: v.$max;

    width: 100%;

    margin: auto;

}


//fotter///////////////////////



footer {

    width: 100%;
    background-color: rgb(34, 34, 34);
    color: white;
    height: 200px;

    border-width: 0 0 v.$size_border 0;
    border-style: solid;

    border-image: linear-gradient(v.$color_gradient) 15;

    .contenedor__footer {
        width: 100%;
        max-width: v.$max;
        margin: auto;
        height: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        gap: 0.3em;


        border: 1px dotted white;



        p {
            text-align: center;
            width: 100%;
            color: white;
            font-size: 1em;
        }


    }


}

/***                      PARAFFOS                         ***/
/*************************************************************/

p {
    font-family: "Roboto";
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: "DM Serif Display";
    font-weight: 400;
}




main{
    p, li {
        --max-width: 70ch;
        font-size: clamp(1rem, 1.4vw, 1.2rem);
        line-height: 1.5;
        color: rgb(49, 49, 49);
    }


    h1 {
        font-size: clamp(2.3rem, 4vw, 4rem);
        margin: .5em 0;
       
    }

    h2 {
        font-size: clamp(1.5em, 2vw, 3em);
        margin-bottom: 0.4em;
        margin-top: 1em;
    }

        
    h3 {
        font-size: clamp(1.3em, 2vw, 3em);
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

}