{% set prefijo = '..' %}
{% extends './build/common/plantilla.njk' %}
{% block estilos %}
    <title>Práctica Balsamic - Andrés Fresno</title>
    <link rel="stylesheet" href="./estilo_propio.css">
    {% endblock %}
    {% block  content %}
        <div class="contenedor">
            <h1>AXURE</h1>

        
            <iframe src="../otros/project-2/producto_1.html"  title="Proyecto 2 Axure" width="80%" height="650px">

            </iframe>


        </div>



    {% endblock %}