{% set prefijo = '..' %}
{% extends './build/common/plantilla.njk' %}
{% block estilos %}
    <title>Práctica Balsamic - Andrés Fresno</title>
    <link rel="stylesheet" href="./estilo_propio.css">
    {% endblock %}
    {% block  content %}
        <div class="contenedor">
            <h1>Balsamic</h1>

            <img src="../img/ddt balscamic.png" alt="a">
        </div>
    {% endblock %}