{% set prefijo = '..' %}
{% extends './build/common/plantilla.njk' %}
{% block estilos %}
  <title>Práctica Balsamic - Andrés Fresno</title>
  <link
    rel="stylesheet" href="./estilo_propio.css">
    {# google #}
    <link
      rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {# boostrap #}
    {% endblock %}
    {% block  content %}

    <h1>Balsamic</h1>


    <div class="contenedor">
     
</div>{# fin contenedor #}


{% endblock %} 
       