{% set prefijo = '.' %}
{% extends './build/common/plantilla.njk' %}
{% block  content %}
    <div class="contenedor__index">
        <h1>Tareas</h1>
        <section class="">
            <form action="">
                <select name="" id="selector" onchange="b()">
                    <option value="card">Todos los temas</option>
                    <option value="tema1">Tema 1</option>
                    <option value="tema2">Tema 2</option>
                    <option value="tema3">Tema 3</option>
                    <option value="tema4">Tema 4</option>
                    <option value="tema5">Tema 5</option>
                    <option value="tema5">Tema 6</option>
                </select>
            </form>
        </section>
        <h3 id="mostrar">
            Filtrar
        </h3>
    </section>
    <div class="gallery" id="gallery">
        {% set items = [
                  
                    {
                        a: "./tarea1_portada/index.html", 
                        url_img:"./img/1.jpg" ,
                        titulo: "tarea 1" ,
                        temaa: "tema1"
                    },
                    {
                        a: "./tarea_iconos/index.html", 
                        url_img:'./img/1.jpg' ,
                        titulo: "Tarea iconos",
                        temaa: "tema2"
                    },
                    {
                        a: "./tarea_iconos/index.html", 
                        url_img:"./img/construccion.jpg" ,
                        titulo: "Tarea iconos",
                        temaa: "tema2" 
                    },
                    {
                        a: "./tarea_iconos/index.html", 
                        url_img:"./img/construccion.jpg" ,
                        temaa: "tema2"
                    }
                                
                ] %}
        {% for item in items %}
            <a class="card {{ item.temaa }}" href="{{ item.a }}">
                <div class="">
                    <div class="img_box" style=" background-image: url({{ item.url_img }}); ">
                        <img class="img" alt="" src="{{ item.url_img }}"></div>
                        <div class="p_box">
                            <p class="title">{{ item.titulo }}</p>
                            <p class="description">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, aperiam?
                            </p>
                        </div>
                    </div>
                </a>
            {% else %}
                <p>This would display if the 'item' collection were empty</li>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">
        
        function b() {
            let valor = document.getElementById("selector").value;
            document.getElementById("mostrar").innerHTML = valor;

            var lista = document.getElementsByClassName("card");
            var lista_ocultar = document.getElementsByClassName(valor);
            
            //console.log(lista_ocultar.length);

            for (var i = 0; i < lista.length; i++) {
                lista[i].classList.add("oculto");
            }

            for (var i = 0; i < lista_ocultar.length; i++) {
                console.log("borrado" + i)
                lista_ocultar[i].classList.remove("oculto");
                lista_ocultar[i].classList.add("visible");
            }
        }

    </script>
{% endblock %}