{% set prefijo = '.' %}
{% extends './build/common/plantilla.njk' %}
{% block  content %}


 
    <div class="gallery">
        {% set items = [
                    {
                        a: "./tarea2/index.html", 
                        url_img:"./img/construccion.jpg" ,
                        titulo: "creando plantilla nunjucks" },
                    {
                        a: "./tarea1/index.html", 
                        url_img:"./img/miniatura1.jpg" ,
                        titulo: "tarea 1" },
                    {
                        a: "./tarea_iconos/index.html", 
                        url_img:"./img/construccion.jpg" ,
                        titulo: "Tarea iconos" }
                
                
                
                
                ] %}
        {% for item in items %}
            <a href="{{ item.a }}">
                <div class="tarea ">
                    <div class="img_box">
                        <img class="img" alt="" src="{{ item.url_img }}"></div>
                        <div class="p_box">
                            <p class="title">{{ item.titulo }}</p>
                            <p class="description"></p>
                        </div>
                    </div>
                </a>
            {% else %}
                <p>This would display if the 'item' collection were empty</li>
            {% endfor %}
        </div>
    {% endblock %}