{% set prefijo = '..' %}


{% extends './build/common/plantilla.njk' %}


{% block  content %}
    <!-- coge la ruta desde src , tener en cuenta esto-->
  <p>holaaaaaaaaaaaaa aaaaaaaasdasdf</p>

{% endblock %}

