



{% extends './build/common/plantilla.njk' %}
{% include "./build/common/header.njk" %}


{% block  content %}
    <!-- coge la ruta desde src , tener en cuenta esto-->
  <p>holaaaaaaaaaaa aaaaaaaasdasdf</p>

{% endblock %}

